apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - renovate
  - cloudnativepg
  - cilium
  - external-secrets
  - cert-manager
  - longhorn
  - velero
  - csi-snapshotter
  - minio
  - eck-operator # ECK Operator für Elasticsearch
  - elastic-stack/     # Elasticsearch & Kibana
  - fluend/          # Fluentd für Log Aggregation
  
 ## 
