apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - renovate
  - cloudnativepg
  # - efk
  - external-secrets
  - cert-manager
  - longhorn # Optimiert f端r Raspberry Pi
  - velero
  - keycloak
  - minio 
  - mongodb
  - eck-operator/      # ECK Operator
  #- elastic-stack/     # Elasticsearch & Kibana
# - fluentd/          # Fluentd f端r Log Aggregation
 #- fluent-bit/       # nicht kompotibel mit ARM64
  #- filebeat/         # Filebeat f端r Log Aggregation
  - tempo # Tempo f端r Tracing
  