apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - renovate
  - cloudnativepg
  # - efk
  - external-secrets
  - cert-manager
  - longhorn # Optimiert für Raspberry Pi
  - velero
  - keycloak
  - minio 
  - mongodb
  - eck-operator/      # ECK Operator
  - elastic-stack/     # Elasticsearch & Kibana
  - fluentd/          # Fluentd für Log Aggregation
 #- fluent-bit/       # nicht kompotibel mit ARM64
  - filebeat/         # Filebeat für Log Aggregation
  